@charset "UTF-8";

body{
    background-color:rgb(248, 218, 137);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1{
    color: white;
    background-color: rgb(233, 156, 68);
}

h2{
    color: white;
    background-color: rgb(236, 184, 124);
}

p{
    text-align: justify;
}